body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#hint {
    font-size: 24px;
    font-weight: bold;
    color: #666;
}

#guess {
    width: 200px;
    height: 30px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submit {
    width: 100px;
    height: 30px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: #3e8e41;
}
